body {
    color: #272727;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    overflow: hidden;
    max-width: 620px;
    width: 100%;
}


h1 {
    padding: 40px 20px 0px 20px;
    font-size: 5em;
}
h2 {
    padding: 10px 30px;
}

/* Character & Item Styles */

.char {
    width: calc(100% / 15);
    height: calc(100% / 15);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#pickman {
    background-size: 80%;
}

.close-mouth {
    background-image: url('../assets/pickman-closed.svg');
}

.open-mouth {
    background-image: url('../assets/pickman-open.svg');
}

.ghost {
    
}

.ghost-red {
    background-image: url('../assets/ghost-red.svg');
}

.ghost-green {
    background-image: url('../assets/ghost-green.svg');
}

.ghost-blue {
    background-image: url('../assets/ghost-blue.svg');
}

.ghost-pink {
    background-image: url('../assets/ghost-pink.svg');
}

/* Game Board Styles */

.box-row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.box {
    height: 100%;
    flex: 1;
}

.pause-screen button {
    padding: 15px 30px;
    background-color: white;
    color: #12bddb;
    border-radius: 0.5em;
    font-size: 2em;
    font-weight: bold;
    transition: 1s;
}

.pause-screen button:hover {
    background-color: #0ca2bd;
    color: white;
}

#pickman-board { 
    height: 100%;
    border: 10px solid #12bddb;
    box-sizing: border-box;
    position: relative;
    display: none;
    flex-direction: column;
}

#pickman-welcome {
    display: flex;
}

.pause-screen {
    height: 100%;
    border: 10px solid #12bddb;
    background-color: #12bddb;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
}

.pause-screen h2 {
    padding: 40px;
}

.pause-screen p {
    padding: 0px 20px;
    font-size: 1.6em;
}

#pickman-endscreen {
    display: none;
}

#pickman-outer-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

#pickman-inner-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.path { background-color: #bae2e9; }

.dot { 
    background-image: url('../assets/dot.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain;
}

.wall { background-color: #12bddb; }

.ghost-cave { background-color: #666666; }

.treat {
    background-image: url('../assets/fruit.svg');
    background-size: contain;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.gate-left {
    border-left: 10px solid white;
    margin-left: -10px;
    background-image: url('../assets/arrow-left-short.svg');
    background-size: contain;
}

.gate-right {
    border-right: 10px solid white;
    margin-right: -10px;
    background-image: url('../assets/arrow-right-short.svg');
    background-size: contain;
}


@media screen and (max-width: 500px){
    h1 {
        font-size: 4rem;
    }
}