/* 
@media screen and (max-width: 620px){
    body {
        background-color: green;
    }

    .box-row {
        display: flex;
        width: 100%;
    }
    
    .box {
        height: 40px;
        width: 40px;
    }

} */